* {
    margin: 0;
    border: 0;
    padding: 0;
}
.mainContainer {
    width: 80%;
    margin: 20px auto;
    padding: 12px;
    background-color: #c4c5c0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
